@font-face {
    font-family: 'Stonehenge';
    src: url('Stonehenge.eot');
    src: url('Stonehenge.eot?#iefix') format('embedded-opentype'),
        url('Stonehenge.woff2') format('woff2'),
        url('Stonehenge.woff') format('woff'),
        url('Stonehenge.ttf') format('truetype'),
        url('Stonehenge.svg#Stonehenge') format('svg');
    font-weight: 100;
    font-style: normal;
}

