@font-face {
    font-family: 'Afterglow';
    src: url('Afterglow-Regular.eot');
    src: url('Afterglow-Regular.eot?#iefix') format('embedded-opentype'),
        url('Afterglow-Regular.woff2') format('woff2'),
        url('Afterglow-Regular.woff') format('woff'),
        url('Afterglow-Regular.ttf') format('truetype'),
        url('Afterglow-Regular.svg#Afterglow-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kill Em All';
    src: url('KillEmAll.eot');
    src: url('KillEmAll.eot?#iefix') format('embedded-opentype'),
        url('KillEmAll.woff2') format('woff2'),
        url('KillEmAll.woff') format('woff'),
        url('KillEmAll.ttf') format('truetype'),
        url('KillEmAll.svg#KillEmAll') format('svg');
    font-weight: normal;
    font-style: normal;
}

